.profile img{
    width: 170px;
}
.paragraph {
   display: flex;
   justify-content: center;

}
.paragraph p{
    width: 50%;
}
@media only screen and (max-width: 576px){
    .paragraph p{
        width: 70%;
    }
}