.img img{
    width: 35px;
}
.para p{
    margin: 0px;
}
.google-button{
    width: 300px;
    cursor: pointer;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(184, 184, 184);
    padding: 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}