footer{
    background-color: rgb(31, 31, 31);
    height: 240px;
    margin-top: 90px;
}
.all{
    height: 200px;
    display: flex;
    justify-content: space-between;
     align-items: center; 
     text-align:center;
}
.details{
    width: 20%;
    margin-right: 90px;
}
.details p{
    margin: 0px 0px;
}
.logoF{
    margin-left: 90px;
}
.logoF img{
        width: 200px;
}
.right{
    color: rgb(163, 163, 163);
}
@media only screen and (max-width: 576px){
    .logoF{
        margin-left: 0px;
    }
    .logoF img{
        width: 150px;
}
.details{
    width: 60%;
    margin-right: 0px;
}
.all{
    flex-direction: column;
    justify-content: space-evenly;
}

}